* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Font';
  src: url('font/Jersey10-Regular.ttf') format('woff2');  
}

@font-face {
  font-family: 'Font2';
  src: url('font/Jersey10-Regular.ttf') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Font', sans-serif;
    font-size: 100%;
    height: 100%;
}

.hero {
    background-image: url('/src/static/3.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: spin 4s infinite;
}

.w-30 {
    width: 30%;
}

.padding-2 {
    padding: 0.5rem!important;
}
@media screen and (max-width: 391px) {
    .padding-2 {
        padding: 0!important;
    }
}

.btn-primary {
  background: none;
  border: none;
  color: #DFB579;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.btn-primary:hover {
  background: #35264E;
  color: #8BA1F6;
}

.btn-primary:active {
  background: #35264E !important; 
  color: #8BA1F6 !important;
}

button {
    font-family: 'Font', sans-serif;
    font-size: 100%;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
    background: none;
}

.button_menu {
    border: none;
    color: #ffffff;
    
}

.button_menu:hover {
  transition: 0.6s;
}

.button_text {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  transition: color 0.2s;
  letter-spacing: 4px;
}

.button_text:hover {
  color: #71357b;
  text-shadow: 1px 1px 1px #0d0010;
}

.button_text:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #0d0010;

}

.logo {
  justify-content: center;
}

.logo_text {
  font-size: 2.5rem;
  color: #DFB579;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px;
}

.nav_bar {
  background: #35264E;
  height: 7vh;
  display: flex;
  align-items: center;
}

.img_logo {
  width: 50vw;
}
@media screen and (max-width: 768px) {
  .img_logo {
    width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .img_logo {
    width: 60vw;
  }
  
}

.logo_text_menu {
  font-size: 4rem;
  color: #FFD4FB;
  font-family: 'Font2', sans-serif;
}

.game {
  height: 93vh;
  background-image: url('/src/static/re2-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.modal-content {
  background: #35264E;
  color: #DFB579;
}

.modal-title {
  color: #DFB579;
  font-size: 2rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DFB579'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 1;
}

.btn {
  --bs-btn-padding-y: 0.175rem;
}

.img_modal {
  width: 40%;
}

.volume_box {
  background: #71357b;
  border-radius: 5px;
  width: 100%;
  height: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.volume {
  border-radius: 5px;
  width: 100%;
  height: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background: #FFD4FB;
  height: 0.5rem;
}

.button_volume {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
}

.back {
  background-image: url('/src/static/bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text {
  font-family: 'Source Code Pro', monospace;
  color: #DFB579;
}

.text_modal {
  font-family: 'Source Code Pro', monospace;
}

.text_game {
  font-family: 'Font', monospace;
  color: #FFD4FB;
}

canvas {
  width: 100%!important;
  height: auto!important;
}

#gameCanvas {
  width: 100%!important;
  background: none!important;
  height: auto!important;
}

#scores {
  font-size: 3rem!important;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #35264E;
  transition: opacity 0.75s visibility 0.75s;
  z-index: 9999;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #71357b;
  border-top-color: #35264E;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.global-chat {
  background: #1f162e;
  border-radius: 0.5em;
  padding: 0.5em 1.25em;
  margin: auto;

  box-shadow: 0 0 0.25em #1a172f;
}

.send-button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
  background: #71357b;
  color: #35264E;
  letter-spacing: 3px;
  font-size: 1em;
  font-weight: bold;
}

.send-button:hover {
  filter: brightness(0.9);
}

.send-button:active {
  transform: translateY(2px);
}

.global-chat-body {
  height: 25em;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .global-chat-body {
    height: 15em;
  }
}
@media screen and (max-width: 576px) {
  .global-chat-body {
    height: 5em;
  }
}

.global-chat-body::-webkit-scrollbar {
  display: none;
}

.global-chat-header {
  margin-bottom: 1em;
  color: #71357b;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
  color: #FFD4FB;
  font-family: 'Source Code Pro', monospace;

}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
}

.message-text {
  font-size: 1em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.blue-bg {
  background-color: #71357b;
}

.chat-input-form {
  display: flex;
  align-items: center;
  margin-top: 2em;
  gap: 0.625em;
}

.chat-input {
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #231f3e;
  color: #fff;
  font-size: 1em;
  flex-grow: 1;
  letter-spacing: 3px;
}

.chat-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}

.dashboard {
  background: #131122;
}

.button_setting.defaultColor {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting.defaultColor:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
} 

.button_setting.clickedColor {
  font-size: 3rem;
  color: #DFB579;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting.clickedColor:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

.button_setting3d.defaultColor3D {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting3d.defaultColor3D:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
} 

.button_setting3d.clickedColor3D {
  font-size: 3rem;
  color: #DFB579;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting3d.clickedColor3D:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

/* Button Setting in English*/

.button_setting_english.defaultColorEnglish {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_english.defaultColorEnglish:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
} 

.button_setting_english.clickedColorEnglish {
  font-size: 3rem;
  color: #DFB579;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_english.clickedColorEnglish:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

/* Button Setting in Russian */

.button_setting_russian.defaultColorRussian {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_russian.defaultColorRussian:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

.button_setting_russian.clickedColorRussian {
  font-size: 3rem;
  color: #DFB579;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_russian.clickedColorRussian:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

/* Button Setting in Ukrainian */

.button_setting_ukrainian.defaultColorUkrainian {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_ukrainian.defaultColorUkrainian:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

.button_setting_ukrainian.clickedColorUkrainian {
  font-size: 3rem;
  color: #DFB579;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_ukrainian.clickedColorUkrainian:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

/* Button Setting for Hit */

.button_setting_hit.defaultColorHit {
  font-size: 3rem;
  color: #FFD4FB;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_hit.defaultColorHit:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
} 

.button_setting_hit.clickedColorHit {
  font-size: 3rem;
  color: #DFB579;
  font-weight: bold;
  letter-spacing: 4px;
  transition: color 0.2s;
}

.button_setting_hit.clickedColorHit:active {
  transition: color 0s;
  color: #71357b;
  text-shadow: 1px 1px 1px #041b29;
}

.tournament-text {
  color:#FFD4FB;
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.tournament-text-button {
  color: #FFD4FB;
  border-radius: 0.375rem;
  height: 2rem;
  background: #71357b;
  letter-spacing: 2px;
  border: none;
  transition: 0s;
  
}

.tournament-text-button:active {
  
  color: #0a081c;
  background: #FFFFFF;
 
}

.tournament-text-input {
  height: 2rem;

}

.tournament-text-input::-webkit-input-placeholder {
  opacity: 0.3;
  border: none;
  box-shadow: none;
  letter-spacing: 1px;
}

.tournament-name {
  color: #FFFFFF;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 3rem;
  letter-spacing: 3px;
}

.table-results {
  height: 93vh;
  background: #1f162e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.tournament-stats {
  color: #71357b;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 2rem;
  letter-spacing: 3px;
}

.scroll-result {
  height: 60vh;
  overflow-y: scroll;
}

.scroll-result::-webkit-scrollbar {
  display: none;
}
